##Pluralsight exercise - ML Engineer

*Name:* Sarah Cooper

*Email:* sarahpcooper92@gmail.com

Have user interests tags
Have user tags and scores
Have your clicks and scores

Have to use implicit Rating metric

In [3]:
import pandas as pd
import numpy as np
import glob
import os
from scipy import stats, integrate
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)
%matplotlib inline

In [4]:
root = "C:/Users/Sarah/Documents/pluralsight_ml_exercise"
os.chdir(root)
print(glob.glob('Data/*.csv'))

['Data\\course_tags.csv', 'Data\\user_assessment_scores.csv', 'Data\\user_course_views.csv', 'Data\\user_interests.csv']

In [5]:
##Examining the datasets
course_tags = pd.read_csv('Data/course_tags.csv')
user_scores = pd.read_csv('Data/user_assessment_scores.csv')
user_views = pd.read_csv('Data/user_course_views.csv')
user_interests = pd.read_csv('Data/user_interests.csv')

In [4]:
course_tags.head()

                                        course_id       course_tags
0  12-principles-animation-toon-boom-harmony-1475      2d-animation
1              2d-racing-game-series-unity-5-1312       game-design
2             2d-racing-games-unity-volume-2-1286          game-art
3             2d-racing-games-unity-volume-2-1286  digital-painting
4             2d-racing-games-unity-volume-2-1286     image-editing

In [5]:
user_scores.head()

   user_handle assessment_tag user_assessment_date  user_assessment_score
0         7487     angular-js  2017-08-11 19:03:38                    134
1         7487            css  2017-08-11 20:09:56                     38
2         7487          html5  2017-07-31 18:59:37                     84
3         7487           java  2017-07-31 18:49:27                    149
4         7487     javascript  2017-07-31 19:05:03                     92

In [6]:
user_scores.info()
h.check_unique(user_scores, "user_assessment_date")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6571 entries, 0 to 6570
Data columns (total 4 columns):
user_handle              6571 non-null int64
assessment_tag           6571 non-null object
user_assessment_date     6571 non-null object
user_assessment_score    6571 non-null int64
dtypes: int64(2), object(2)
memory usage: 256.7+ KB
Duplicate Entries

In [7]:
user_views.head()

,user_handle,view_date,course_id,author_handle,level,view_time_seconds
0,1,2017-06-27,cpt-sp2010-web-designers-branding-intro,875,Beginner,3786
1,1,2017-06-28,cpt-sp2010-web-designers-branding-intro,875,Beginner,1098
2,1,2017-06-28,cpt-sp2010-web-designers-css,875,Intermediate,4406
3,1,2017-07-27,cpt-sp2010-web-designers-css,875,Intermediate,553
4,1,2017-09-12,aws-certified-solutions-architect-professional,281,Advanced,102

In [8]:
user_views.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 249238 entries, 0 to 249237
Data columns (total 6 columns):
user_handle          249238 non-null int64
view_date            249238 non-null object
course_id            249238 non-null object
author_handle        249238 non-null int64
level                249238 non-null object
view_time_seconds    249238 non-null int64
dtypes: int64(3), object(3)
memory usage: 13.3+ MB

In [9]:
user_interests.head()

   user_handle      interest_tag        date_followed
0            1   mvc-scaffolding  2017-06-27 16:26:52
1            1              mvc2  2017-06-27 16:26:52
2            1  mvc-html-helpers  2017-06-27 16:26:52
3            1          mvc4-ioc  2017-06-27 16:26:52
4            1       mvc-testing  2017-06-27 16:26:52

In [10]:
user_interests.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297526 entries, 0 to 297525
Data columns (total 3 columns):
user_handle      297526 non-null int64
interest_tag     297526 non-null object
date_followed    297526 non-null object
dtypes: int64(1), object(2)
memory usage: 9.1+ MB

##After running code

In [ ]:
sns.distplot(x)